<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyi.daxie.cloud.service.mapper.TcsQcPositionMapper">

    <resultMap id="BaseResultMap" type="com.deyi.daxie.cloud.service.bean.TcsQcPosition">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="truckNo" column="truck_no" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="paramEpno" column="param_epno" jdbcType="VARCHAR"/>
            <result property="paramIsarrive" column="param_isarrive" jdbcType="VARCHAR"/>
            <result property="paramEptype" column="param_eptype" jdbcType="VARCHAR"/>
            <result property="paramArrivetime" column="param_arrivetime" jdbcType="VARCHAR"/>
            <result property="paramLane" column="param_lane" jdbcType="VARCHAR"/>
            <result property="paramLon" column="param_lon" jdbcType="VARCHAR"/>
            <result property="paramLat" column="param_lat" jdbcType="VARCHAR"/>
            <result property="resCode" column="res_code" jdbcType="VARCHAR"/>
            <result property="resMessage" column="res_message" jdbcType="VARCHAR"/>
            <result property="resData" column="res_data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time,truck_no,
        token,param_epno,param_isarrive,
        param_eptype,param_arrivetime,param_lane,
        param_lon,param_lat,res_code,
        res_message,res_data
    </sql>
    <insert id="add" parameterType="com.deyi.daxie.cloud.service.bean.TcsQcPosition">
        INSERT INTO tcs_qc_position (`id`, `time`, `truck_no`,`token`,
                                      `param_epno`, `param_isarrive`,`param_eptype`,
                                      `param_arrivetime`, `param_lane`,`param_lon`,
                                      `param_lat`,`res_code`,
                                      `res_message`, `res_data`)
        VALUES (null,
                #{time},
                #{truckNo},
                #{token},
                #{paramEpno},
                #{paramIsarrive},
                #{paramEptype},
                #{paramArrivetime}),
                #{paramLane},
                #{paramLon}),
                #{paramLat},
                #{resCode},
                #{resMessage},
                #{resData})
    </insert>
</mapper>
