<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyi.daxie.cloud.service.mapper.TcsUploadAliveMapper">

    <resultMap id="BaseResultMap" type="com.deyi.daxie.cloud.service.bean.TcsUploadAlive">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="truckNo" column="truck_no" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="paramUsername" column="param_username" jdbcType="VARCHAR"/>
            <result property="paramPassword" column="param_password" jdbcType="VARCHAR"/>
            <result property="resCode" column="res_code" jdbcType="VARCHAR"/>
            <result property="resMessage" column="res_message" jdbcType="VARCHAR"/>
            <result property="resData" column="res_data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time,truck_no,
        token,param_username,param_password,
        res_code,res_message,res_data
    </sql>
    <insert id="add" parameterType="com.deyi.daxie.cloud.service.bean.TcsUploadAlive">
        INSERT INTO tcs_upload_alive (`id`, `time`, `truck_no`,`token`,
                                `param_username`, `param_password`, `res_code`,
                                `res_message`, `res_data`)
        VALUES (null,
                #{time},
                #{truckNo},
                #{token},
                #{paramUsername},
                #{paramPassword},
                #{resCode},
                #{resMessage},
                #{resData})
    </insert>
</mapper>
