<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deyi.daxie.cloud.service.mapper.TcsWebsocketGetQdDwMapper">

    <resultMap id="BaseResultMap" type="com.deyi.daxie.cloud.service.bean.TcsWebsocketGetQdDw">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="truckNo" column="truck_no" jdbcType="VARCHAR"/>
            <result property="resReceiver" column="res_Receiver" jdbcType="VARCHAR"/>
            <result property="resMessagetype" column="res_MessageType" jdbcType="VARCHAR"/>
            <result property="resSendtime" column="res_SendTime" jdbcType="VARCHAR"/>
            <result property="resMsgid" column="res_MsgId" jdbcType="INTEGER"/>
            <result property="resData" column="res_Data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time,truck_no,
        res_Receiver,res_MessageType,res_SendTime,
        res_MsgId,res_Data
    </sql>
    <insert id="add" parameterType="com.deyi.daxie.cloud.service.bean.TcsWebsocketGetQdDw">
        INSERT INTO tcs_websocket_get_qd_dw (`id`, `time`, `truck_no`,
                                              `res_Receiver`, `res_MessageType`,`res_SendTime`,
                                              `res_MsgId`, `res_Data`)
        VALUES (null,
                #{time},
                #{truckNo},
                #{resReceiver},
                #{resMessagetype},
                #{resSendtime},
                #{resMsgid},
                #{resData})
            )
    </insert>
</mapper>
